
.logo-side, .form-side{
    width: 50%;
    padding: 5vmin;
}
.loginContainer{
    display: flex;
}

.autImageContainer img{
    width: 100%;
}



.login-form-box{
    border: 1px solid gray;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    padding: 2vmin;
}




input{
    border: 1px solid gray;
    border-radius: 5px;
}

.loginContainer .logo-side ,.form-side{
    border:  1px solid red;
}